PDP.DREAM.CoreWebLib/Schemas/npdsroot.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:npds="http://npds.portaldoors.org/nsvo/npdsystem#" targetNamespace="http://npds.portaldoors.org/nsvo/npdsystem#" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.2.1">
	<annotation>
		<documentation>NPDS root implementing schema requirements for Nexus-PORTAL-DOORS-Scribe cyberinfrastructure resource
			representations.</documentation>
	</annotation>
	<annotation>
		<documentation> Copyright (c) 2006-2021 Carl Taswell and the PORTAL-DOORS Project Team.
			Permission is hereby granted, free of charge, to any person obtaining a copy of this
			software and associated documentation files (the "Software"), to deal in the Software
			without restriction, including without limitation the rights to use, copy, modify,
			merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
			permit persons to whom the Software is furnished to do so, subject to the following
			conditions: The above copyright notice and this permission notice shall be included in
			all copies or substantial portions of the Software. THE SOFTWARE IS PROVIDED "AS IS",
			WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
			WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN
			NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
			OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT
			OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
		</documentation>
	</annotation>
	<annotation>
		<documentation>
	https://www.w3.org/TR/xmldsig-core2/
	https://www.w3.org/TR/2015/NOTE-xmldsig-core2-20150723/#sec-xsdSchema
	<schema xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"/>
			<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
		</documentation>
	</annotation>
	<annotation>
		<documentation> Type naming conventions for global types include the prefix "st" for
			simpleTypes, "et" for simpleTypes with enumerations, "ct" for complexTypes, "g" for
			groups, and the suffix "Set" for unbounded sequences of the underlying element type.
			These naming conventions apply only to the types to facilitate recognition of the
			distinction between the type and an instance of the type. Thus, the prefix/suffix
			conventions do not apply to elements or attributes (as instances of the types).
		</documentation>
	</annotation>
	<simpleType name="stNonzeroTinyint">
		<annotation>
			<documentation>value space of XML Schema unsignedByte is 0-255 equivalent to a SQL
				Server tinyint; the restriction excludes zero</documentation>
		</annotation>
		<restriction base="unsignedByte">
			<minInclusive value="1"/>
			<maxInclusive value="255"/>
		</restriction>
	</simpleType>
	<simpleType name="stInt">
		<annotation>
			<documentation>upper bound 2147483648 = 2^31</documentation>
		</annotation>
		<restriction base="int">
			<minInclusive value="0"/>
			<maxInclusive value="2147483647"/>
		</restriction>
	</simpleType>
	<simpleType name="stNvarchar16">
		<restriction base="token">
			<minLength value="0"/>
			<maxLength value="16"/>
		</restriction>
	</simpleType>
	<simpleType name="stNvarchar32">
		<restriction base="token">
			<minLength value="0"/>
			<maxLength value="32"/>
		</restriction>
	</simpleType>
	<simpleType name="stNvarchar64">
		<restriction base="token">
			<minLength value="0"/>
			<maxLength value="64"/>
		</restriction>
	</simpleType>
	<simpleType name="stNvarchar128">
		<restriction base="token">
			<minLength value="0"/>
			<maxLength value="128"/>
		</restriction>
	</simpleType>
	<simpleType name="stNvarchar256">
		<restriction base="token">
			<minLength value="0"/>
			<maxLength value="256"/>
		</restriction>
	</simpleType>
	<simpleType name="stNvarchar4096">
		<restriction base="token">
			<minLength value="0"/>
			<maxLength value="4096"/>
		</restriction>
	</simpleType>
	<simpleType name="stUniqueidentifier">
		<restriction base="string">
			<pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
		</restriction>
	</simpleType>
	<simpleType name="stUri">
		<annotation>
			<documentation>Per RFC 3987 discussion, the xsd:anyURI type includes IRIs and IRI
				references. stUri imposes a length restriction on anyURI.</documentation>
		</annotation>
		<restriction base="anyURI">
			<minLength value="0"/>
			<maxLength value="384"/>
		</restriction>
	</simpleType>
	<annotation>
		<documentation>definitions and declarations for XML/RDF/RDFS/OWL</documentation>
	</annotation>
	<complexType name="ctSkiptext" mixed="true">
		<sequence>
			<any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupChild"/>
	</complexType>
	<complexType name="ctSemantictext">
		<sequence>
			<any namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns# http://www.w3.org/2000/01/rdf-schema# http://www.w3.org/2002/07/owl#" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupChild"/>
	</complexType>
	<complexType name="ctRdfDescriptionSet">
		<annotation>
			<documentation>If used, the element RdfDescription in NPDS must be implemented as an
				alias for the element Description in RDF. An alias is used here to avoid
				difficulties caused by requiring implementation of an RDF processor and/or importing
				the RDF namespace elements.</documentation>
		</annotation>
		<sequence>
			<element name="RdfDescription" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupChild"/>
	</complexType>
	<annotation>
		<documentation>global enumeration types (named with prefix convention of "et") for groups
			and elements</documentation>
	</annotation>
	<simpleType name="etFormat">
		<annotation>
			<documentation>Format of element content.</documentation>
		</annotation>
		<restriction base="NCName">
			<enumeration value="none"/>
			<enumeration value="date"/>
			<enumeration value="number"/>
			<enumeration value="text"/>
			<enumeration value="HTML"/>
			<enumeration value="JSON"/>
			<enumeration value="OWL"/>
			<enumeration value="RDF"/>
			<enumeration value="URI"/>
			<enumeration value="XHTML"/>
			<enumeration value="XML"/>
		</restriction>
	</simpleType>
	<simpleType name="etEntityType">
		<annotation>
			<documentation>Type of resource entity for display in applications and use when
				selecting and filtering metadata records for resource representations by general
				type category of the resource entity.</documentation>
		</annotation>
		<restriction base="NCName">
			<enumeration value="AudioItem"/>
			<enumeration value="BiologicalBeing"/>
			<enumeration value="ChemicalSubstance"/>
			<enumeration value="ComputingService"/>
			<enumeration value="ComputingTool"/>
			<enumeration value="DataRecord"/>
			<enumeration value="DoorsPrimary"/>
			<enumeration value="DoorsRoot"/>
			<enumeration value="DoorsSecondary"/>
			<enumeration value="GeographicLocation"/>
			<enumeration value="ImageItem"/>
			<enumeration value="MetaResourceEntity"/>
			<enumeration value="MultiDimSignal"/>
			<enumeration value="MultiMediaItem"/>
			<enumeration value="NexusPrimary"/>
			<enumeration value="NexusRoot"/>
			<enumeration value="NexusSecondary"/>
			<enumeration value="NpdsDirectory"/>
			<enumeration value="NpdsDiristry"/>
			<enumeration value="NpdsRegistrar"/>
			<enumeration value="NpdsRegistry"/>
			<enumeration value="NpdsRoot"/>
			<enumeration value="OfflineRealEntity"/>
			<enumeration value="OneDimSequence"/>
			<enumeration value="OnlineVirtualEntity"/>
			<enumeration value="Organization"/>
			<enumeration value="Person"/>
			<enumeration value="PhysicalObject"/>
			<enumeration value="PortalPrimary"/>
			<enumeration value="PortalRoot"/>
			<enumeration value="PortalSecondary"/>
			<enumeration value="Publication"/>
			<enumeration value="ScribePrimary"/>
			<enumeration value="ScribeRoot"/>
			<enumeration value="ScribeSecondary"/>
			<enumeration value="TaxonomyItem"/>
			<enumeration value="TerminologyItem"/>
			<enumeration value="ThesaurusItem"/>
			<enumeration value="Untyped"/>
			<enumeration value="VideoItem"/>
		</restriction>
	</simpleType>
	<simpleType name="etSystemComponent">
		<restriction base="npds:etEntityType">
			<enumeration value="NpdsRoot"/>
			<enumeration value="NpdsRegistrar"/>
			<enumeration value="NpdsRegistry"/>
			<enumeration value="NpdsDirectory"/>
			<enumeration value="NpdsDiristry"/>
			<enumeration value="NexusRoot"/>
			<enumeration value="NexusPrimary"/>
			<enumeration value="NexusSecondary"/>
			<enumeration value="PortalRoot"/>
			<enumeration value="PortalPrimary"/>
			<enumeration value="PortalSecondary"/>
			<enumeration value="DoorsRoot"/>
			<enumeration value="DoorsPrimary"/>
			<enumeration value="DoorsSecondary"/>
			<enumeration value="ScribePrimary"/>
			<enumeration value="ScribeRoot"/>
			<enumeration value="ScribeSecondary"/>
		</restriction>
	</simpleType>
	<simpleType name="etSystemConstituent">
		<restriction base="npds:etEntityType">
			<enumeration value="Organization"/>
			<enumeration value="Person"/>
		</restriction>
	</simpleType>
	<simpleType name="etHierarchyNexusNodes">
		<restriction base="npds:etEntityType">
			<enumeration value="NpdsDiristry"/>
			<enumeration value="NexusRoot"/>
			<enumeration value="NexusPrimary"/>
			<enumeration value="NexusSecondary"/>
		</restriction>
	</simpleType>
	<simpleType name="etHierarchyPortalNodes">
		<restriction base="npds:etEntityType">
			<enumeration value="NpdsRegistry"/>
			<enumeration value="PortalRoot"/>
			<enumeration value="PortalPrimary"/>
			<enumeration value="PortalSecondary"/>
		</restriction>
	</simpleType>
	<simpleType name="etHierarchyDoorsNodes">
		<restriction base="npds:etEntityType">
			<enumeration value="NpdsDirectory"/>
			<enumeration value="DoorsRoot"/>
			<enumeration value="DoorsPrimary"/>
			<enumeration value="DoorsSecondary"/>
		</restriction>
	</simpleType>
	<simpleType name="etHierarchyScribeNodes">
		<restriction base="npds:etEntityType">
			<enumeration value="NpdsRegistrar"/>
			<enumeration value="ScribeRoot"/>
			<enumeration value="ScribePrimary"/>
			<enumeration value="ScribeSecondary"/>
		</restriction>
	</simpleType>
	<simpleType name="etInfosetStatus">
		<restriction base="NCName">
			<enumeration value="Invalid"/>
			<enumeration value="Pending"/>
			<enumeration value="Valid"/>
		</restriction>
	</simpleType>
	<annotation>
		<documentation> Global attributes for groups and elements; note problem with Altova
			validator which requires use of namespace qualifier on global attributes when compared
			with defining attributes locally for each complex type where the latter (defining
			attributes locally) is used in this schema in order to avoid the problem; however even
			though attributes are defined and used locally in each complex type, they are also
			collected and defined globally here as well for convenience; the "ref" attribute may be
			used in a complex type to reference them.
			http://stackoverflow.com/questions/3469997/xml-schema-attribute-ref In XML Schemas all
			global element, attribute or type definitions must be qualified. Thus all globally
			defined attributes will be namespace prefixed even if you have defined
			attributeFormDefault as "unqualified". Workaround is to define this attribute inside a
			attribute group or a global type and then you can reference to this named group or to
			extend this named type. When you need this attribute, refer to the attributeGroup
			instead of the attribute. Attribute group doesn't need to contain all attributes the
			element uses, this should also be valid.</documentation>
	</annotation>
	<attributeGroup name="agFgroupParent">
		<attribute name="Count" type="int" use="optional" default="0"/>
		<anyAttribute namespace="##any" processContents="lax"/>
	</attributeGroup>
	<attributeGroup name="agFgroupChild">
		<attribute name="IsMarked" type="boolean" use="optional" default="false"/>
		<attribute name="IsPrivate" type="boolean" use="optional" default="false"/>
		<attribute name="IsPrincipal" type="boolean" use="optional" default="false"/>
		<attribute name="Index" type="unsignedByte" use="optional" default="0"/>
		<attribute name="Format" type="npds:etFormat" use="optional" default="none"/>
		<attribute name="Priority" type="unsignedByte" use="optional" default="0"/>
		<anyAttribute namespace="##any" processContents="lax"/>
	</attributeGroup>
	<attributeGroup name="agEntityLabel">
		<attributeGroup ref="npds:agFgroupChild"/>
		<attribute name="EntityType" type="npds:etEntityType" use="optional" default="Untyped"/>
		<attribute name="IsGenerating" type="boolean" use="optional" default="false"/>
		<attribute name="IsResolvable" type="boolean" use="optional" default="false"/>
		<anyAttribute namespace="##any" processContents="lax"/>
	</attributeGroup>
	<attributeGroup name="agRecordProvenance">
		<attributeGroup ref="npds:agFgroupChild"/>
		<attribute name="IsCached" type="boolean" use="optional" default="false"/>
	</attributeGroup>
	<attributeGroup name="agRecordDistribution">
		<attributeGroup ref="npds:agFgroupChild"/>
		<attribute name="IsConcise" type="boolean" use="optional" default="false"/>
		<attribute name="TimeToLiveUnit" type="npds:stNvarchar32" use="optional" default="day"/>
		<attribute name="TimeToLiveValue" type="npds:stInt" use="optional" default="0"/>
	</attributeGroup>
	<annotation>
		<documentation>Globally unique identifier (per SQL definition) for the resource infoset
			assembled from distributed records at PORTAL and DOORS servers; this optional identifier
			is distinct from the EntityLabel as the required globally unique identifer for the
			resource entity. </documentation>
	</annotation>
	<attributeGroup name="agScribeParent">
		<attribute name="IsAuthorPrivate" type="boolean" use="optional" default="false"/>
		<attribute name="IsAgentShared" type="boolean" use="optional" default="false"/>
		<attribute name="IsUpdaterLimited" type="boolean" use="optional" default="false"/>
		<attribute name="IsManagerReleased" type="boolean" use="optional" default="false"/>
		<anyAttribute namespace="##any" processContents="lax"/>
	</attributeGroup>
	<attributeGroup name="agScribeChild">
		<attribute name="Guid" type="npds:stUniqueidentifier" use="optional" default="00000000-0000-0000-0000-000000000000"/>
		<attribute name="Handle" type="npds:stNvarchar32" use="optional"/>
		<anyAttribute namespace="##any" processContents="lax"/>
	</attributeGroup>
	<annotation>
		<documentation> Complex Types </documentation>
	</annotation>
	<complexType name="ctName">
		<annotation>
			<documentation>Name of resource entity for display in applications: usually the name of
				the person, organization, physical offline or virtual online entity with desired
				spelling case and punctuation as used in the official name for the resource
				entity</documentation>
		</annotation>
		<simpleContent>
			<extension base="npds:stNvarchar128">
				<anyAttribute namespace="##any" processContents="lax"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ctNature">
		<annotation>
			<documentation>Nature of resource entity for display in applications: usually a natural
				language phrase concisely describing the resource entity.</documentation>
		</annotation>
		<simpleContent>
			<extension base="npds:stNvarchar256">
				<anyAttribute namespace="##any" processContents="lax"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ctRegisteredUri">
		<annotation>
			<documentation>complexType for use by RegisteredUri in any EntityLabel; ctRegisteredUri
				is an extension of stUri.</documentation>
		</annotation>
		<simpleContent>
			<extension base="npds:stUri">
				<attributeGroup ref="npds:agFgroupChild"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ctEntityLabel">
		<annotation>
			<documentation>complexType for the required canonical label serving as the globally
				unique identifier for the resource entity</documentation>
		</annotation>
		<simpleContent>
			<extension base="npds:ctRegisteredUri">
				<attributeGroup ref="npds:agEntityLabel"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ctEntityAliasLabelSet">
		<annotation>
			<documentation>complexType for the permitted alias labels that may also be used to
				identify the resource entity; all labels, whether canonical or alias, must be
				globally unique throughout the entire PORTAL-DOORS System</documentation>
		</annotation>
		<sequence>
			<element name="AliasLabel" type="npds:ctEntityLabel" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctPersonLabel">
		<simpleContent>
			<restriction base="npds:ctEntityLabel">
				<attribute name="EntityType" type="npds:etEntityType" use="optional" fixed="Person"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="ctOrganizationLabel">
		<simpleContent>
			<restriction base="npds:ctEntityLabel">
				<attribute name="EntityType" type="npds:etEntityType" use="optional" fixed="Organization"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="ctOtherEntityLabel">
		<simpleContent>
			<restriction base="npds:ctEntityLabel">
				<attribute name="EntityType" type="npds:etEntityType" use="optional" default="Untyped"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="ctContactLabel">
		<simpleContent>
			<restriction base="npds:ctEntityLabel">
				<attribute name="EntityType" type="npds:etEntityType" use="optional" fixed="Person"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="ctOwnerLabel">
		<simpleContent>
			<restriction base="npds:ctEntityLabel">
				<attribute name="EntityType" type="npds:etSystemConstituent" use="optional"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="ctRegistrantLabel">
		<simpleContent>
			<restriction base="npds:ctEntityLabel">
				<attribute name="EntityType" type="npds:etSystemConstituent" use="optional"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="ctRegistrarLabel">
		<simpleContent>
			<restriction base="npds:ctEntityLabel">
				<attribute name="EntityType" type="npds:etHierarchyScribeNodes" use="optional"/>
				<attribute name="IsPrincipal" type="boolean" use="optional" default="false"/>
				<attribute name="Priority" type="unsignedByte" use="optional" default="0"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="ctRegistryLabel">
		<simpleContent>
			<restriction base="npds:ctEntityLabel">
				<attribute name="EntityType" type="npds:etHierarchyPortalNodes" use="optional"/>
				<attribute name="IsPrincipal" type="boolean" use="optional" default="false"/>
				<attribute name="Priority" type="unsignedByte" use="optional" default="0"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="ctDirectoryLabel">
		<simpleContent>
			<restriction base="npds:ctEntityLabel">
				<attribute name="EntityType" type="npds:etHierarchyDoorsNodes" use="optional"/>
				<attribute name="IsPrincipal" type="boolean" use="optional" default="false"/>
				<attribute name="Priority" type="unsignedByte" use="optional" default="0"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="ctDiristryLabel">
		<simpleContent>
			<restriction base="npds:ctEntityLabel">
				<attribute name="EntityType" type="npds:etHierarchyNexusNodes" use="optional"/>
				<attribute name="IsPrincipal" type="boolean" use="optional" default="false"/>
				<attribute name="Priority" type="unsignedByte" use="optional" default="0"/>
			</restriction>
		</simpleContent>
	</complexType>
	<simpleType name="stPrincipalTag">
		<restriction base="NCName">
			<minLength value="1"/>
			<maxLength value="128"/>
			<pattern value=".*"/>
		</restriction>
	</simpleType>
	<simpleType name="stSupportingTag">
		<restriction base="token">
			<minLength value="1"/>
			<maxLength value="128"/>
		</restriction>
	</simpleType>
	<complexType name="ctSupportingTag">
		<simpleContent>
			<extension base="npds:stSupportingTag">
				<attributeGroup ref="npds:agFgroupChild"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ctSupportingTagSet">
		<sequence>
			<element name="SupportingTag" type="npds:ctSupportingTag" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<simpleType name="stSupportingLabel">
		<restriction base="anyURI">
			<minLength value="8"/>
			<maxLength value="384"/>
		</restriction>
	</simpleType>
	<complexType name="ctSupportingLabel">
		<simpleContent>
			<extension base="npds:stSupportingLabel">
				<attributeGroup ref="npds:agFgroupChild"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ctSupportingLabelSet">
		<sequence>
			<element name="SupportingLabel" type="npds:ctSupportingLabel" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctCrossReference">
		<simpleContent>
			<extension base="token">
				<attributeGroup ref="npds:agFgroupChild"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ctCrossReferenceSet">
		<sequence>
			<element name="CrossReference" type="npds:ctCrossReference" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctOtherText" mixed="true">
		<sequence>
			<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupChild"/>
	</complexType>
	<complexType name="ctOtherTextSet">
		<sequence>
			<element name="OtherText" type="npds:ctOtherText" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctLocation">
		<complexContent>
			<extension base="npds:ctSkiptext">
				<attributeGroup ref="npds:agFgroupChild"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctLocationSet">
		<sequence>
			<element name="Location" type="npds:ctLocation" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctDescription">
		<complexContent>
			<extension base="npds:ctSkiptext">
				<attributeGroup ref="npds:agFgroupChild"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctDescriptionSet">
		<sequence>
			<element name="Description" type="npds:ctDescription" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctProvenance">
		<complexContent>
			<extension base="npds:ctSkiptext">
				<attributeGroup ref="npds:agRecordProvenance"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctProvenanceSet">
		<sequence>
			<element name="Provenance" type="npds:ctProvenance" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctDistribution">
		<complexContent>
			<extension base="npds:ctSkiptext">
				<attributeGroup ref="npds:agRecordDistribution"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctDistributionSet">
		<sequence>
			<element name="Distribution" type="npds:ctDistribution" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctInfosetEntailment">
		<complexContent>
			<extension base="npds:ctSkiptext">
				<anyAttribute namespace="##any" processContents="lax"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctInfosetValidation">
		<sequence>
			<element name="Status" type="npds:etInfosetStatus" minOccurs="0"/>
			<element name="TestedOn" type="dateTime" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ctAnyFormat" mixed="true">
		<sequence>
			<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<anyAttribute namespace="##any" processContents="lax"/>
	</complexType>
	<complexType name="ctNamedFormat">
		<complexContent>
			<extension base="npds:ctAnyFormat">
				<attribute name="Name" type="token" use="required"/>
				<attribute name="Version" type="token" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctEntityCitesSet">
		<sequence>
			<element name="CitedRef" type="anyURI" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctEntityIsCitedBySet">
		<sequence>
			<element name="CitingRef" type="anyURI" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctBibCitRef" mixed="true">
		<sequence>
			<element name="OtherFormat" type="npds:ctNamedFormat" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EntityCites" type="npds:ctEntityCitesSet" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EntityIsCitedBy" type="npds:ctEntityIsCitedBySet" minOccurs="0" maxOccurs="unbounded"/>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<anyAttribute namespace="##any" processContents="lax"/>
	</complexType>
	<complexType name="ctBibCitRefSet">
		<sequence>
			<element name="OtherText" type="npds:ctBibCitRef" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctSignatureSet">
		<sequence>
			<element name="GenericSig" type="npds:ctSkiptext" minOccurs="0" maxOccurs="unbounded"/>
			<element name="XmlSignature" type="npds:ctSkiptext" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<annotation>
		<documentation>
		global groups of elements for independent sets of resource entity metadata;
			required elements with minOccurs="1", permitted with minOccurs="0"; note XML Schema
			default is 1 for both minOccurs and maxOccurs however minOccurs is denoted here
			explicitly to maintain consistency and avoid confusion if possible; but apparently
			Altova XML Spy automatically removes attributes equal to defaults</documentation>
	</annotation>
	<group name="gEntityCore">
		<annotation>
			<documentation>entity metadata elements common to separate PORTAL, separate DOORS, and
				combined Nexus</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="npds:ctName" minOccurs="0"/>
			<element name="Nature" type="npds:ctNature" minOccurs="0"/>
			<element name="PrincipalTag" type="npds:stPrincipalTag" minOccurs="0"/>
			<element name="CanonicalLabel" type="npds:ctEntityLabel" minOccurs="1"/>
			<element name="AliasLabels" type="npds:ctEntityAliasLabelSet" minOccurs="0"/>
		</sequence>
	</group>
	<group name="gEntityPortal">
		<annotation>
			<documentation>entity metadata elements unique to PORTAL, not in DOORS</documentation>
		</annotation>
		<sequence>
			<element name="SupportingTags" type="npds:ctSupportingTagSet" minOccurs="0"/>
			<element name="SupportingLabels" type="npds:ctSupportingLabelSet" minOccurs="0"/>
			<element name="OtherEntity" type="npds:ctOtherEntityLabel" minOccurs="0"/>
			<element name="Owner" type="npds:ctOwnerLabel" minOccurs="0"/>
			<element name="Contact" type="npds:ctContactLabel" minOccurs="0"/>
		</sequence>
	</group>
	<group name="gEntityDoors">
		<annotation>
			<documentation>entity metadata elements unique to DOORS, not in PORTAL</documentation>
		</annotation>
		<sequence>
			<element name="Locations" type="npds:ctLocationSet" minOccurs="0"/>
			<element name="Descriptions" type="npds:ctDescriptionSet" minOccurs="0"/>
		</sequence>
	</group>
	<annotation>
		<documentation>global attributes and types for groups and elements used for resource record
			metadata</documentation>
	</annotation>
	<group name="gRecordCore">
		<sequence>
			<element name="CreatedBy" type="npds:ctPersonLabel" minOccurs="0"/>
			<element name="CreatedOn" type="dateTime" minOccurs="0"/>
			<element name="UpdatedBy" type="npds:ctPersonLabel" minOccurs="0"/>
			<element name="UpdatedOn" type="dateTime" minOccurs="0"/>
			<element name="ManagedBy" type="npds:ctPersonLabel" minOccurs="0"/>
			<element name="Diristry" type="npds:ctDiristryLabel" minOccurs="0"/>
			<element name="Registry" type="npds:ctRegistryLabel" minOccurs="0"/>
			<element name="Directory" type="npds:ctDirectoryLabel" minOccurs="0"/>
			<element name="Registrar" type="npds:ctRegistrarLabel" minOccurs="0"/>
			<element name="Registrant" type="npds:ctRegistrantLabel" minOccurs="0"/>
			<element name="Signatures" type="npds:ctSignatureSet" minOccurs="0"/>
		</sequence>
	</group>
	<group name="gRecordPortal">
		<sequence>
			<element name="CrossReferences" type="npds:ctCrossReferenceSet" minOccurs="0"/>
			<element name="OtherTexts" type="npds:ctOtherTextSet" minOccurs="0"/>
		</sequence>
	</group>
	<group name="gRecordDoors">
		<sequence>
			<element name="Provenances" type="npds:ctProvenanceSet" minOccurs="0"/>
			<element name="Distributions" type="npds:ctDistributionSet" minOccurs="0"/>
		</sequence>
	</group>
	<annotation>
		<documentation>global attributes and types for groups and elements used for resource infoset 
			metadata</documentation>
	</annotation>
	<group name="gInfosetCore">
		<sequence>
			<element name="CoreValidation" type="npds:ctInfosetValidation" minOccurs="0"/>
			<element name="CoreEntailment" type="npds:ctInfosetEntailment" minOccurs="0"/>
		</sequence>
	</group>
	<group name="gInfosetPortal">
		<sequence>
			<element name="PortalValidation" type="npds:ctInfosetValidation" minOccurs="0"/>
			<element name="PortalEntailment" type="npds:ctInfosetEntailment" minOccurs="0"/>
		</sequence>
	</group>
	<group name="gInfosetDoors">
		<sequence>
			<element name="DoorsValidation" type="npds:ctInfosetValidation" minOccurs="0"/>
			<element name="DoorsEntailment" type="npds:ctInfosetEntailment" minOccurs="0"/>
		</sequence>
	</group>
	<group name="gInfosetNexus">
		<sequence>
			<element name="NexusValidation" type="npds:ctInfosetValidation" minOccurs="0"/>
			<element name="NexusEntailment" type="npds:ctInfosetEntailment" minOccurs="0"/>
		</sequence>
	</group>
	<annotation>
		<documentation>global types for resource entity, resource record, resource infoset, resource
			representation</documentation>
	</annotation>
	<complexType name="ctEntityLevel1MetadataCore">
		<sequence>
			<group ref="npds:gEntityCore" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="npds:agScribeChild"/>
	</complexType>
	<complexType name="ctEntityLevel1MetadataPortal">
		<complexContent>
			<extension base="npds:ctEntityLevel1MetadataCore">
				<sequence>
					<group ref="npds:gEntityPortal"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctEntityLevel1MetadataDoors">
		<complexContent>
			<extension base="npds:ctEntityLevel1MetadataCore">
				<sequence>
					<group ref="npds:gEntityDoors"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctEntityLevel1MetadataNexus">
		<complexContent>
			<extension base="npds:ctEntityLevel1MetadataCore">
				<sequence>
					<group ref="npds:gEntityPortal"/>
					<group ref="npds:gEntityDoors"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctRecordLevel2MetadataCore">
		<sequence>
			<group ref="npds:gRecordCore" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="npds:agScribeChild"/>
	</complexType>
	<complexType name="ctRecordLevel2MetadataPortal">
		<complexContent>
			<extension base="npds:ctRecordLevel2MetadataCore">
				<sequence>
					<group ref="npds:gRecordPortal"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctRecordLevel2MetadataDoors">
		<complexContent>
			<extension base="npds:ctRecordLevel2MetadataCore">
				<sequence>
					<group ref="npds:gRecordDoors"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctRecordLevel2MetadataNexus">
		<complexContent>
			<extension base="npds:ctRecordLevel2MetadataCore">
				<sequence>
					<group ref="npds:gRecordPortal"/>
					<group ref="npds:gRecordDoors"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctInfosetLevel3MetadataCore">
		<sequence>
			<group ref="npds:gInfosetCore" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="npds:agScribeChild"/>
	</complexType>
	<complexType name="ctInfosetLevel3MetadataPortal">
		<complexContent>
			<extension base="npds:ctInfosetLevel3MetadataCore">
				<sequence>
					<group ref="npds:gInfosetPortal"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctInfosetLevel3MetadataDoors">
		<complexContent>
			<extension base="npds:ctInfosetLevel3MetadataCore">
				<sequence>
					<group ref="npds:gInfosetDoors"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ctInfosetLevel3MetadataNexus">
		<complexContent>
			<extension base="npds:ctInfosetLevel3MetadataCore">
				<sequence>
					<group ref="npds:gInfosetPortal"/>
					<group ref="npds:gInfosetDoors"/>
					<group ref="npds:gInfosetNexus"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<annotation>
		<documentation>the "resource representation" is a container that collates the primary
			metadata about the entity itself (the "resource entity" metadata at "Level 1") with the
			secondary metadata about the Level 1 metadata (the "resource record" metadata at "Level
			2") and the tertiary metadata about the Level 1 and Level 2 metadata (the "resource
			infoset" metadata at "Level 3")</documentation>
	</annotation>
	<complexType name="ctResourceRepresentationCore">
		<sequence>
			<element name="EntityMetadata" type="npds:ctEntityLevel1MetadataCore"/>
			<element name="RecordMetadata" type="npds:ctRecordLevel2MetadataCore"/>
			<element name="InfosetMetadata" type="npds:ctInfosetLevel3MetadataCore"/>
		</sequence>
		<attributeGroup ref="npds:agScribeParent"/>
	</complexType>
	<complexType name="ctResourceRepresentationCoreSet">
		<sequence>
			<element name="CoreResRep" type="npds:ctResourceRepresentationCore" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctResourceRepresentationPortal">
		<sequence>
			<element name="EntityMetadata" type="npds:ctEntityLevel1MetadataPortal"/>
			<element name="RecordMetadata" type="npds:ctRecordLevel2MetadataPortal"/>
			<element name="InfosetMetadata" type="npds:ctInfosetLevel3MetadataPortal"/>
		</sequence>
		<attributeGroup ref="npds:agScribeParent"/>
	</complexType>
	<complexType name="ctResourceRepresentationPortalSet">
		<sequence>
			<element name="PortalResRep" type="npds:ctResourceRepresentationPortal" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctResourceRepresentationDoors">
		<sequence>
			<element name="EntityMetadata" type="npds:ctEntityLevel1MetadataDoors"/>
			<element name="RecordMetadata" type="npds:ctRecordLevel2MetadataDoors"/>
			<element name="InfosetMetadata" type="npds:ctInfosetLevel3MetadataDoors"/>
		</sequence>
		<attributeGroup ref="npds:agScribeParent"/>
	</complexType>
	<complexType name="ctResourceRepresentationDoorsSet">
		<sequence>
			<element name="DoorsResRep" type="npds:ctResourceRepresentationDoors" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctResourceRepresentationNexus">
		<sequence>
			<element name="EntityMetadata" type="npds:ctEntityLevel1MetadataNexus"/>
			<element name="RecordMetadata" type="npds:ctRecordLevel2MetadataNexus"/>
			<element name="InfosetMetadata" type="npds:ctInfosetLevel3MetadataNexus"/>
		</sequence>
		<attributeGroup ref="npds:agScribeParent"/>
	</complexType>
	<complexType name="ctResourceRepresentationNexusSet">
		<sequence>
			<element name="NexusResRep" type="npds:ctResourceRepresentationNexus" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctNpdsResRepSet">
		<sequence minOccurs="0" maxOccurs="1">
			<element name="CoreService" type="npds:ctResourceRepresentationCoreSet" minOccurs="0" maxOccurs="1"/>
			<element name="PortalService" type="npds:ctResourceRepresentationPortalSet" minOccurs="0" maxOccurs="1"/>
			<element name="DoorsService" type="npds:ctResourceRepresentationDoorsSet" minOccurs="0" maxOccurs="1"/>
			<element name="NexusService" type="npds:ctResourceRepresentationNexusSet" minOccurs="0" maxOccurs="1"/>
		</sequence>
		<attributeGroup ref="npds:agFgroupParent"/>
	</complexType>
	<complexType name="ctCoreServerResReps">
		<complexContent>
			<restriction base="npds:ctNpdsResRepSet">
				<sequence minOccurs="0" maxOccurs="1">
					<element name="CoreService" type="npds:ctResourceRepresentationCoreSet" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ctPortalServerResReps">
		<complexContent>
			<restriction base="npds:ctNpdsResRepSet">
				<sequence minOccurs="0" maxOccurs="1">
					<element name="CoreService" type="npds:ctResourceRepresentationCoreSet" minOccurs="0" maxOccurs="1"/>
					<element name="PortalService" type="npds:ctResourceRepresentationPortalSet" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ctDoorsServerResReps">
		<complexContent>
			<restriction base="npds:ctNpdsResRepSet">
				<sequence minOccurs="0" maxOccurs="1">
					<element name="CoreService" type="npds:ctResourceRepresentationCoreSet" minOccurs="0" maxOccurs="1"/>
					<element name="DoorsService" type="npds:ctResourceRepresentationDoorsSet" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ctNexusServerResReps">
		<complexContent>
			<restriction base="npds:ctNpdsResRepSet">
				<sequence minOccurs="0" maxOccurs="1">
					<element name="CoreService" type="npds:ctResourceRepresentationCoreSet" minOccurs="0" maxOccurs="1"/>
					<element name="PortalService" type="npds:ctResourceRepresentationPortalSet" minOccurs="0" maxOccurs="1"/>
					<element name="DoorsService" type="npds:ctResourceRepresentationDoorsSet" minOccurs="0" maxOccurs="1"/>
					<element name="NexusService" type="npds:ctResourceRepresentationNexusSet" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ctNpdsRequest">
		<sequence minOccurs="0" maxOccurs="1">
			<element name="URL" type="npds:stUri" minOccurs="1" maxOccurs="1"/>
			<element name="Note" type="npds:stNvarchar4096" minOccurs="0" maxOccurs="1"/>
			<element name="Question" type="npds:stNvarchar4096" minOccurs="0" maxOccurs="1"/>
			<element name="Signatures" type="npds:ctSignatureSet" minOccurs="0" maxOccurs="1"/>
		</sequence>
		<attribute name="Date" type="dateTime" use="optional"/>
		<anyAttribute namespace="##any" processContents="lax"/>
	</complexType>
	<complexType name="ctNpdsResponse">
		<sequence minOccurs="0" maxOccurs="1">
			<element name="Status" type="npds:stNvarchar256" minOccurs="1" maxOccurs="1"/>
			<element name="Note" type="npds:stNvarchar4096" minOccurs="0" maxOccurs="1"/>
			<element name="Answer" type="npds:ctNpdsResRepSet" minOccurs="0" maxOccurs="1"/>
			<element name="Related" type="npds:ctNpdsResRepSet" minOccurs="0" maxOccurs="1"/>
			<element name="Referred" type="npds:ctNpdsResRepSet" minOccurs="0" maxOccurs="1"/>
			<element name="Signatures" type="npds:ctSignatureSet" minOccurs="0" maxOccurs="1"/>
		</sequence>
		<attribute name="Date" type="dateTime" use="optional"/>
		<anyAttribute namespace="##any" processContents="lax"/>
	</complexType>
	<element name="NPDS">
		<complexType>
			<annotation>
				<documentation> 
				ClientRequest allows content related to API request as permitted by the type ctNpdsRequest.
				ServerResponse allows content related to API response as permitted by the type ctNpdsResponse. 
				CoreServer, PortalServer, DoorsServer, NexusServer allow only the content as restricted by the 
				corresponding types ctCoreServerResReps, ctPortalServerResReps, ctDoorsServerResReps, ctNexusServerResReps.
				</documentation>
			</annotation>
			<sequence>
				<element name="ClientRequest" type="npds:ctNpdsRequest" minOccurs="0" maxOccurs="1"/>
				<element name="ServerResponse" type="npds:ctNpdsResponse" minOccurs="0" maxOccurs="1"/>
				<element name="CoreServer" type="npds:ctCoreServerResReps" minOccurs="0" maxOccurs="1"/>
				<element name="PortalServer" type="npds:ctPortalServerResReps" minOccurs="0" maxOccurs="1"/>
				<element name="DoorsServer" type="npds:ctDoorsServerResReps" minOccurs="0" maxOccurs="1"/>
				<element name="NexusServer" type="npds:ctNexusServerResReps" minOccurs="0" maxOccurs="1"/>
			</sequence>
			<attribute name="Version" type="token" use="optional" default="2.2.1 (2021-03-16)"/>
		</complexType>
	</element>
</schema>